input{
    border-width: 0ch;
    background-color: rgb(236, 236, 236);
    width: 500px;
    height: 40px;
    margin: 6px;
    padding: 5px;
}

.title-login{
    font-size: 50px;
    color: #000b76;
    font-weight: 600;
}

.btn-login{
    background-color: #000b76;
    color: white;
    padding: 15px;
    margin-top: 15px;
    margin-left: 250px;
    border-radius: 5%;
}

.login-box{
    width: 550px;
    padding: 30px; 
    margin-left: 200px;
    margin-top: 150px;
    text-align: center;
}

.blue-rec{
    margin-left: 300px;
    margin-top: -200px;
   position: absolute;
}