.header{
    background-color: transparent;
    color: #000b76;
    font-size:35px;
    font-style: oblique;
    padding: 5px;
    text-align: left;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
    /* box-shadow: 0px 5px 5px grey; */
}

.box-center{
    padding: 8px;
}
